.invitation_greetigs {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.welcome-text {
  width: 90vw;
  margin: 0 auto;
  font-size: 13px;
}

.title-header {
  height: 400px;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  justify-content: center;
}

.space-blank {
  height: 200px;
}

.background-container {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.wings-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
}

.highlighted-text {
  font-size: 40px;
}

@media screen and (min-width: 481px) {
  .welcome-text {
    font-size: 17px;
  }

  .highlighted-text {
    font-size: 60px;
  }

  .title-header {
    font-size: 23px;
  }

  .wings-header {
    width: 450px;
    top: 38%;
  }
}

@media screen and (min-width: 640px) {
  .title-header {
    font-size: 28px;
  }
  .highlighted-text {
    font-size: 70px;
  }
  .wings-header {
    width: 500px;
  }
  .welcome-text {
    font-size: 18px;
  }
}

@media screen and (min-width: 769px) {
  .title-header {
    font-size: 33px;
  }
  .highlighted-text {
    font-size: 90px;
  }
  .wings-header {
    width: 650px;
    top: 43%;
  }
  .welcome-text {
    font-size: 22px;
    margin-bottom: 80px;
  }
}
