.history-title {
  font-family: "Allura", cursive;
  width: 90%;
  margin: 0 auto;
}

.history-title p {
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  color: "#325338";
}

.history-wings {
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  width: 95%;
}

.photo-history-header {
  height: 200px;
}

.history-photo-wrapper {
  position: absolute;
  margin-top: 35px;
}

.history-photo-wrapper:nth-child(1) {
  left: 0;
  right: 170px;
  margin-inline: auto;
  width: fit-content;
}
.history-photo-wrapper:nth-child(2) {
  left: 150px;
  right: 0;
  margin-inline: auto;
  width: fit-content;
}

.history-divider {
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
  top: 340px;
}

@media (min-width: 480px) {
  .history-title p {
    font-size: 60px;
  }
  .history-divider {
    top: 390px;
  }
  .history-divider img {
    width: 400px;
  }

  .history-wings {
    width: 95%;
  }
}

@media (min-width: 768px) {
  .history-title p {
    font-size: 90px;
    text-align: center;
    padding-top: 50px;
    color: "#325338";
  }

  .photo-history-header {
    height: 400px;
  }
  .history-divider {
    top: 640px;
  }

  .history-divider img {
    width: 550px;
  }

  .history-photo-wrapper {
    margin-top: 60px;
  }
  .history-photo-wrapper:nth-child(1) {
    left: 0;
    right: 240px;
  }
  .history-photo-wrapper:nth-child(2) {
    left: 220px;
    right: 0;
  }
}

@media (min-width: 1024px) {
  .history-title p {
    font-size: 50px;
    padding-top: 25px;
  }

  .history-divider img {
    width: 420px;
  }

  .history-wings {
    width: 40%;
  }

  .photo-history-header {
    height: 400px;
  }
  .history-divider {
    top: 440px;
  }

  .photo-history-header {
    height: 290px;
  }

  .history-photo-wrapper {
    margin-top: 45px;
  }
  .history-photo-wrapper:nth-child(1) {
    left: 0;
    right: 220px;
  }
  .history-photo-wrapper:nth-child(2) {
    left: 200px;
    right: 0;
  }
}
